// background colors

$base-color: #c3cfe2;
$footer-color: #686de0;
$upper-color:#fff;

// radius

$topradius: 31px 31px 0px 0px;
$bottomradius: 0px 0px 31px 31px;
$imgradius: 50% 50%;

// border

$imageborder: 8px solid #ffffff;


