@import "./variables";
@import "./mixin";

.containergrid {
    margin-top: 5em;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 2em;
    article  { 
        position: relative;
        @include heigtwidth;
        
        &:hover section{
          opacity: 1;
        }
      
        section {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          @include heigtwidth;
          opacity: 0;
          transition: .5s ease;
          background-color: #4ac093;
      
          button {
            border: none;
            background-color: rgb(113, 113, 121);
            color: white;
            font-size: 20px;
            position: absolute;
            top: $centreposition;
            left: $centreposition;
            -webkit-transform: $translate ;
            -ms-transform: $translate;
            transform: $translate;
            text-align: center;
          }
        }
      
        figure{ 
          @include heigtwidth;
          margin: 0px;
        }
      }   
}

/* media queries */

@import "./mediaqueries";
